
  @import url("//db.onlinewebfonts.com/c/17241fb9c2ffb3ec11eba762e771435f?family=Suisse+Int'l+Book");
* {
  font-family: "Suisse Int'l Book";
  font-style: normal;
}

.outline {
  position: absolute;    
  top: 220px;
  left: 65px;
}

#check {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s ease-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.Main-banner {
  position: relative;
  background-color: #EEEBE3;
  background-image: url(https://sun9-15.userapi.com/_-YxmUOs9XAhNOw7gd1A6-gPbYMVbAfskNL6Rw/B8IKPPgGKEY.jpg);
  background-size: 100% 820px;
  height: 820px;
  width: 100%;

  &__content-left {
    position: relative;
    padding: 253px 0 0 80px;
  }

  &__header {
    width: 620px;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  &__text {
    margin-top: 30px;
    width: 400px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
}

.container {
  width: 1440px;
}